<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>10K549</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mxf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Collective5.icns</string>
			<key>CFBundleTypeName</key>
			<string>Max collective</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>mx@c</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>app</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Application</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>APPL</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>None</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>context</string>
	<key>CFBundleGetInfoString</key>
	<string>6.0.7, Copyright 2012 Cycling &apos;74</string>
	<key>CFBundleIconFile</key>
	<string>Max.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.cycling74.MaxRuntime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>Max Runtime 6.0.7 (build a1f899e), Copyright 2012 Cycling &apos;74</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>6.0.7 (a1f899e)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>6.0.7</string>
	<key>CSResourcesFileMapped</key>
	<false/>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvmgcc42</string>
	<key>DTPlatformBuild</key>
	<string>10M2518</string>
	<key>DTPlatformVersion</key>
	<string>PG</string>
	<key>DTSDKBuild</key>
	<string>9L31a</string>
	<key>DTSDKName</key>
	<string>macosx10.5</string>
	<key>DTXcode</key>
	<string>0400</string>
	<key>DTXcodeBuild</key>
	<string>10M2518</string>
</dict>
</plist>
